html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* .weather.is-hidden {
  display: none;
} */

body {
  background-color: #d4ecc0;
}

.weather-app {
  text-align: center;
}
