<h2>Current weather</h2>
<img class="icon" src="https://cdn.apixu.com/weather/64x64/day/113.png" alt="Sunny" />

<p>Location: <span>{{temp_c}}</span></p>
<p>Temperature: <span>20&#8451;</span></p>
<p>Humidity: <span>65%</span></p>
<p>Wind: <span>3kph</span></p>
<p>Conditions: <span>Sunny</span></p>